.dropdown-toggle::after {
    display: none;
}

body{
    background-color: #f4f5f7;
}

.colSetengah{
    width: 6%;
}

.colSatuSetengah{
    width: 12.495%;
}

.stick{
    position: sticky !important;
    top:0;
}

.posiAtas{
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 9999999999999999999 !important;
    /* sumber kenapa pake transform : https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e */

}

.posiBawah{
    position: absolute;
  bottom: -5vh;
  /* left:2.6rem; */
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /*Fixed Sidebar (stay in place on scroll)*/
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding-top: 0;
  }

.kanan{
    /* width: 91.666%;
    right: 0px; */
    margin-left: 6%
}

.topbar{
    position:sticky;
    position: -webkit-sticky;
    top:0 !important;
    z-index:999;   
    
}

.topbar1{
    position:sticky;
    position: -webkit-sticky;
    /* padding-top: 56px; */
    top:70.3px !important;
    z-index:99999; 
}

.logoSideBar:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.logoSideBar.active{
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    font-weight: bold;
}

.tulisanSideBar:hover{
    color: #000000;
    background-color: #CFD4ED;
}

.nav-link1{
    color: #AEB7E1;
    border: 1px solid #AEB7E1 !important;
    margin-right: 15px;
}

.nav-link1:hover{
    color: #0D28A6 !important;
    background-color: #CFD4ED !important;
    border: 1px solid #0D28A6;
}